*~
__pycache__/
services/ctiOS/input_data/*.vfk
services/ctiOS/input_data/*.zip
services/ctiOS/output_data/*.db
services/ctiOS/output_data/*.csv
services/ctiOS/logs/*.log
venv
.idea
docs/notebooks/.ipynb_checkpoints/
