*~
__pycache__/
services/ctiOS/input/*.vfk
services/ctiOS/input/*.zip
services/ctiOS/input/*.txt
services/ctiOS/output/*.db
services/ctiOS/output/*.csv
services/ctiOS/logs/*.log
venv
.idea
docs/notebooks/.ipynb_checkpoints/
